In [1]:
import csv
import datetime
import pandas as pd
import matplotlib.pyplot as plt

# read in data

In [2]:
#read in goodreads booktok csv
booktok_df = pd.read_csv('../data/booktok_books_final.csv')

In [3]:
#read in nyt fiction bestsellers csv
fiction_bestsellers_df = pd.read_csv('../data/top_15_fiction_bestsellers_since_dec_2011.csv')

In [4]:
#read in ya monthly paperback bestsellers csv
ya_paperback_bestsellers_df = pd.read_csv("../data/monthly_paperback_YA_bestsellers_since_oct_2019.csv")

In [5]:
#read in ya weekly hardcover bestsellers csv
ya_hardcover_bestsellers_df = pd.read_csv("../data/weekly_hardcover_YA_bestsellers_since_aug_2015.csv")

In [6]:
booktok_df.head(10)

,title,author,urls,avg_rating,num_ratings,date_published,booktok_popularity,num_pages,top_genre
0,The Seven Husbands of Evelyn Hugo (Hardcover),Taylor Jenkins Reid,https://www.goodreads.com/book/show/32620332-t...,4.48,"1,155,356",2017,0,389 pages,Historical
1,It Ends with Us (Kindle Edition),Colleen Hoover,https://www.goodreads.com/book/show/27362503-i...,4.42,"1,149,821",2016,1,385 pages,Romance
2,The Song of Achilles (Paperback),Madeline Miller,https://www.goodreads.com/book/show/13623848-t...,4.40,"815,625",2011,2,378 pages,Historical
3,The Invisible Life of Addie LaRue (Hardcover),V.E. Schwab,https://www.goodreads.com/book/show/50623864-t...,4.23,"603,813",2020,3,444 pages,Fantasy
4,"The Cruel Prince (The Folk of the Air, #1)",Holly Black,https://www.goodreads.com/book/show/26032825-t...,4.10,"629,204",2018,4,370 pages,Fantasy
5,"From Blood and Ash (Blood and Ash, #1)",Jennifer L. Armentrout,https://www.goodreads.com/book/show/52831200-f...,4.30,"283,553",2020,5,622 pages,Fantasy
6,"Six of Crows (Six of Crows, #1)",Leigh Bardugo,https://www.goodreads.com/book/show/23437156-s...,4.49,"662,527",2015,6,465 pages,Fantasy
7,They Both Die at the End (Hardcover),Adam Silvera,https://www.goodreads.com/book/show/33385229-t...,3.89,"445,267",2017,7,389 pages,Young Adult
8,A Court of Thorns and Roses (A Court of Thorns...,Sarah J. Maas,https://www.goodreads.com/book/show/50659467-a...,4.19,"1,005,547",2015,8,448 pages,Fantasy
9,"Red, White & Royal Blue (Paperback)",Casey McQuiston,https://www.goodreads.com/book/show/41150487-r...,4.18,"531,232",2019,9,448 pages,Romance

In [7]:
booktok_df['author'].value_counts()

Sarah J. Maas             17
Colleen Hoover            14
Penelope Douglas          13
Tahereh Mafi              12
Jennifer L. Armentrout    12
                          ..
Elly Blake                 1
Adrienne Tooley            1
Ashley Shuttleworth        1
Oyinkan Braithwaite        1
Jillian Frost              1
Name: author, Length: 733, dtype: int64

In [8]:
fiction_bestsellers_df.head(10)

,rank,rank_last_week,weeks_on_list,asterisk,dagger,primary_isbn10,primary_isbn13,publisher,description,price,...,age_group,book_review_link,first_chapter_link,sunday_review_link,article_chapter_link,isbns,buy_links,book_uri,week,nyt_list
0,1,0,1,0,0,1250278201,9781250278203,St. Martin's,"Harry Booth, a master thief, breaks things off...",0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1250278198', 'isbn13': '978125027...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/41951f87-0c4d-5227-be44-1ac0ec00616c,2022-06-12,Combined Print & E-Book Fiction
1,2,4,162,0,0,0735219109,9780735219106,Putnam,In a quiet town on the North Carolina coast in...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '0735219095', 'isbn13': '978073521...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/08a5730d-43e5-586d-8ce6-4b891eb75fe1,2022-06-12,Combined Print & E-Book Fiction
2,3,3,50,0,0,1501110365,9781501110368,Atria,A battered wife raised in a violent home attem...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1501110365', 'isbn13': '978150111...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/e2a3545e-e9cb-5828-9d97-50a798a0e4f6,2022-06-12,Combined Print & E-Book Fiction
3,4,2,4,0,0,0593334833,9780593334836,Berkley,"While on vacation in North Carolina, a literar...",0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '0593334833', 'isbn13': '978059333...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/31fc527e-86c7-5743-a111-ea333a630706,2022-06-12,Combined Print & E-Book Fiction
4,5,5,25,0,0,1538724731,9781538724736,Grand Central,Lowen Ashleigh is hired by the husband of an i...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1791392792', 'isbn13': '978179139...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/013c7729-a1de-5e5c-921a-da43243f9a4a,2022-06-12,Combined Print & E-Book Fiction
5,6,6,48,0,0,1501161938,9781501161933,Washington Square/Atria,A movie icon recounts stories of her loves and...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1501161938', 'isbn13': '978150116...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/d9511fac-ee44-5a87-9af7-2cd6a6f8f984,2022-06-12,Combined Print & E-Book Fiction
6,7,7,20,0,0,1476753180,9781476753188,Atria,"Tate Collins and Miles Archer, an airline pilo...",0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1476753180', 'isbn13': '978147675...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/08464a1b-cfd4-5d1b-8898-e206fb95deeb,2022-06-12,Combined Print & E-Book Fiction
7,8,0,1,0,0,0593419685,9780593419687,Putnam,The 19th book in the NUMA Files series. A sear...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '0593419677', 'isbn13': '978059341...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/fef45730-117d-573b-83a9-c315f3761bc6,2022-06-12,Combined Print & E-Book Fiction
8,9,10,27,0,0,1984806750,9781984806758,Berkley,Opposites Poppy and Alex meet to vacation toge...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1984806750', 'isbn13': '978198480...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/5dbae751-16c1-51b3-aa19-fe6e08cef953,2022-06-12,Combined Print & E-Book Fiction
9,10,0,10,0,0,1501110349,9781501110344,Atria,Is Ben using his relationship with Fallon as f...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1501110349', 'isbn13': '978150111...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/74a835a9-0f52-5060-914b-b390b1e0864d,2022-06-12,Combined Print & E-Book Fiction

In [9]:
fiction_bestsellers_df.tail()

,rank,rank_last_week,weeks_on_list,asterisk,dagger,primary_isbn10,primary_isbn13,publisher,description,price,...,age_group,book_review_link,first_chapter_link,sunday_review_link,article_chapter_link,isbns,buy_links,book_uri,week,nyt_list
8245,11,7,3,0,0,None,9781459273702,Harlequin,Former high school sweethearts fall tentativel...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '1459295366', 'isbn13': '978145929...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/f85ba5a4-2eeb-578d-ab96-9e98b6363627,2011-12-04,Combined Print & E-Book Fiction
8246,12,8,5,0,0,None,9780316097383,"Little, Brown & Company",A widow keeps the identity of the new man she ...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '031609739X', 'isbn13': '978031609...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/a96c9b52-07cd-5c68-a013-e6f7eacb589e,2011-12-04,Combined Print & E-Book Fiction
8247,13,0,6,0,0,0345527704,9780345527707,Random House Publishing,A killer is after the bounty hunter Stephanie ...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '0345527682', 'isbn13': '978034552...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/38ad2956-8a45-5faf-b92e-36dde816b76b,2011-12-04,Combined Print & E-Book Fiction
8248,14,0,1,0,0,0345511344,9780345511348,Random House Publishing,A Jedi stumbles upon a terrible secret that th...,0.0,...,NaN,NaN,NaN,NaN,NaN,"[{'isbn10': '0345511344', 'isbn13': '978034551...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/79ab4d74-8dc1-5b9f-8934-1ce2ad41eeb4,2011-12-04,Combined Print & E-Book Fiction
8249,15,13,6,0,0,1429969180,9781429969185,"Farrar, Straus & Giroux",Three Brown graduates in the early 1980s wrest...,0.0,...,NaN,https://www.nytimes.com/2011/10/07/books/the-m...,NaN,https://www.nytimes.com/2011/10/16/books/revie...,NaN,"[{'isbn10': '0374203059', 'isbn13': '978037420...","[{'name': 'Amazon', 'url': 'http://www.amazon....",nyt://book/e9c56fae-68a3-5d5b-9514-7c16469dfb26,2011-12-04,Combined Print & E-Book Fiction

In [10]:
fiction_bestsellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rank                  8250 non-null   int64
 1   rank_last_week        8250 non-null   int64
 2   weeks_on_list         8250 non-null   int64
 3   asterisk              8250 non-null   int64
 4   dagger                8250 non-null   int64
 5   primary_isbn10        7832 non-null   object
 6   primary_isbn13        8250 non-null   object
 7   publisher             8250 non-null   object
 8   description           8250 non-null   object
 9   price                 8250 non-null   float64
 10  title                 8250 non-null   object
 11  author                8250 non-null   object
 12  contributor           8250 non-null   object
 13  contributor_note      2 non-null      object
 14  book_image            8243 non-null   object
 15  book_image_width      8243 non-null   float64
 16  book_image_height     8243 non-null   float64
 17  amazon_product_url    8218 non-null   object
 18  age_group             0 non-null      float64
 19  book_review_link      1365 non-null   object
 20  first_chapter_link    14 non-null     object
 21  sunday_review_link    779 non-null    object
 22  article_chapter_link  68 non-null     object
 23  isbns                 8250 non-null   object
 24  buy_links             8250 non-null   object
 25  book_uri              8250 non-null   object
 26  week                  8250 non-null   object
 27  nyt_list              8250 non-null   object
dtypes: float64(4), int64(5), object(19)
memory usage: 1.8+ MB

In [11]:
fiction_bestsellers_df['dagger'].value_counts()

0    8249
1       1
Name: dagger, dtype: int64

In [12]:
fiction_bestsellers_df['asterisk'].value_counts()

0    8250
Name: asterisk, dtype: int64

In [13]:
fiction_bestsellers_df['author'].value_counts()

John Grisham              302
E L James                 242
David Baldacci            207
Stephen King              163
Delia Owens               162
                         ...
Lauren Fox                  1
Gilly Macmillan             1
Bryan Reardon               1
Janet Skeslien Charles      1
Jeffrey Eugenides           1
Name: author, Length: 734, dtype: int64

In [14]:
fiction_bestsellers_df['publisher'].value_counts()

Little, Brown     538
Putnam            534
Grand Central     459
Doubleday         358
Scribner          283
                 ...
Blue Bolt           1
SOS Ladies          1
Smashwords          1
Golden Unicorn      1
Emma Chase          1
Name: publisher, Length: 305, dtype: int64

# clean data

## clean nyt fiction bestseller data

In [16]:
#drop columns that aren't needed
fiction_bestsellers_df = fiction_bestsellers_df.drop(['primary_isbn10', 'price', 'contributor', 'contributor_note', 'book_image_width', 'book_image_height', 'book_review_link', 'first_chapter_link', 'sunday_review_link', 'article_chapter_link', 'isbns', 'buy_links', 'book_uri', 'age_group'], axis=1)
fiction_bestsellers_df.head()

,rank,rank_last_week,weeks_on_list,asterisk,dagger,primary_isbn13,publisher,description,title,author,book_image,amazon_product_url,week,nyt_list
0,1,0,1,0,0,9781250278203,St. Martin's,"Harry Booth, a master thief, breaks things off...",NIGHTWORK,Nora Roberts,https://storage.googleapis.com/du-prd/books/im...,https://www.amazon.com/dp/1250278198?tag=NYTBS...,2022-06-12,Combined Print & E-Book Fiction
1,2,4,162,0,0,9780735219106,Putnam,In a quiet town on the North Carolina coast in...,WHERE THE CRAWDADS SING,Delia Owens,https://storage.googleapis.com/du-prd/books/im...,https://www.amazon.com/Where-Crawdads-Sing-Del...,2022-06-12,Combined Print & E-Book Fiction
2,3,3,50,0,0,9781501110368,Atria,A battered wife raised in a violent home attem...,IT ENDS WITH US,Colleen Hoover,https://storage.googleapis.com/du-prd/books/im...,http://www.amazon.com/Ends-Us-Novel-Colleen-Ho...,2022-06-12,Combined Print & E-Book Fiction
3,4,2,4,0,0,9780593334836,Berkley,"While on vacation in North Carolina, a literar...",BOOK LOVERS,Emily Henry,https://storage.googleapis.com/du-prd/books/im...,https://www.amazon.com/dp/0593334833?tag=NYTBS...,2022-06-12,Combined Print & E-Book Fiction
4,5,5,25,0,0,9781538724736,Grand Central,Lowen Ashleigh is hired by the husband of an i...,VERITY,Colleen Hoover,https://storage.googleapis.com/du-prd/books/im...,https://www.amazon.com/dp/1791392792?tag=NYTBS...,2022-06-12,Combined Print & E-Book Fiction

### create df of only most recent appearances on nyt bestseller list

In [ ]:
#https://www.geeksforgeeks.org/delete-duplicates-in-a-pandas-dataframe-based-on-two-columns/
# drop rows which have same title
# and author and keep latest entry
bestsellers_recent_df = fiction_bestsellers_df.drop_duplicates(
  subset = ['title', 'author'],
  keep = 'last').reset_index(drop = True)

In [ ]:
#check to see if it worked
len(bestsellers_recent_df)

In [ ]:
#check to see if it worked
bestsellers_recent_df.info()

In [ ]:
#check to see if it worked
check = bestsellers_recent_df.groupby(['title'])['author'].count().sort_values(ascending=False)
print(check)

## clean goodreads booktok data

In [ ]:
#make booktok_popularity rank start at 1 instead of 0
booktok_df['booktok_popularity'] = booktok_df['booktok_popularity'] + 1
booktok_df.head()

In [ ]:
#rename title column so that it can be expanded into two columns: title + series_format info
booktok_df.rename(columns = {"title": "title_and_specs"}, 
          inplace = True)
booktok_df.head()

In [ ]:
#expand title_and_specs into individual columns
#https://www.geeksforgeeks.org/python-pandas-split-strings-into-two-list-columns-using-str-split/
#https://stackoverflow.com/questions/42205616/using-str-split-for-pandas-dataframe-values-based-on-parentheses-location
#https://datascienceparichay.com/article/pandas-split-column-by-delimiter/
#https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html#pandas.Series.str.split
new_title = booktok_df['title_and_specs'].str.split("\s+\(", n=1, expand=True)
new_title.head()

In [ ]:
#change column names
new_title.columns = ['title', 'series_format']

In [ ]:
#drop closed parenthisis from series_format
new_title['series_format'] = new_title['series_format'].str.rstrip('\s+\)')
new_title.head()

In [ ]:
#make titles all caps to match nyt bestsellers titles
new_title['title'] = new_title['title'].str.upper()
new_title.head()

In [ ]:
#add new title and series_format columns back into booktok_df
booktok_df['title'] = new_title['title']
booktok_df['series_format'] = new_title['series_format']
booktok_df.head()

In [ ]:
#remove "pages" from num_pages column
booktok_df['num_pages'] = booktok_df['num_pages'].astype(str)
booktok_df['num_pages'] = booktok_df['num_pages'].str.rstrip(' pages')
booktok_df.head()

# merge bestseller & booktok dataframes on title and author
## outer join

In [ ]:
full_join = pd.merge(booktok_df, bestsellers_df, on=['title', 'author'], how='outer')
full_join.head()

In [ ]:
full_join.tail()

In [ ]:
full_join.info()

## left join (booktok on left)

In [ ]:
booktok_bestsellers_left = booktok_df.merge(bestsellers_df, on=['title', 'author'], how='left')
booktok_bestsellers.head()

In [ ]:
booktok_bestsellers_left.info()

## inner join

In [ ]:
booktok_bestsellers_inner = pd.merge(booktok_df, bestsellers_df, on=['title', 'author'], how='inner')

In [ ]:
booktok_bestsellers_inner.info()

# merge bestseller_recent & booktok on title and author
## outer join

In [ ]:
full_join_recent = pd.merge(booktok_df, bestsellers_recent_df, on=['title', 'author'], how='outer')
full_join_recent.head()

# exploring the data

In [ ]:
booktok_df['top_genre'].value_counts()

In [ ]:
booktok_bestsellers['title'].value_counts()

In [ ]:
booktok_bestsellers['top_genre'].value_counts()